#skilljar-content {
    background-color: black;
}

#heroTitle {
    color: #28B7A8;
}

#heroText {
    color: white;
}

#getStartedBtn {
    color: orange;
}

.top-row {
    background-image: url("https://hc.greenmusk.com/assets/hazeltree/bg-header.jpg");
}