@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

* {
  /* text-color: white; */
}
html {
  font-family: "Montserrat", sans-serif;
}

#header {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 84px;
}
#header-right {
  display: flex;
  align-items: center;
}

#header .headerheight {
  /* height: 45px; */
  height: 0px;
}
@media only screen and (min-width: 768px) {
  #header .headerheight {
    /* height: 60px; */
    height: 32px;
  }
}

#heroTitle {
  color: #28b7a8;
}

#heroText {
  color: white;
}
#getStartedBtn {
  display: inline-block;
  padding: 15px 136px;
  color: white;
  background-color: #f57f13;
  border-radius: 0.5rem;
}
.one-col-full {
  display: flex;
  justify-content: center;
  background-image: url("https://ayazemregm.github.io/hazeltreeassets/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.catalog-header {
  height: 90vh;
  width: 100%;
  max-width: 72rem;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#catalog-content {
  max-width: 72rem;
  margin: 0 auto;
}
#courseTitle {
  max-width: 72rem;
  margin: 0 auto;
  margin-top: 6.25rem;
  margin-bottom: 3rem;
}
#courseTitle p {
  font-size: 1.125rem;
}

#availableCourses {
  font-size: 2.25rem;
}

/* #skilljar-content{} */
.tabs-wrapper {
  background-color: white;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs-nav {
  display: flex;
  justify-content: space-between;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.top-row {
}

@media only screen and (min-width: 801px) {
  .no-catalog-filters .catalog-center-width {
    /* width: 784px; */
    width: 100%;
  }
}
@media only screen and (min-width: 926px) {
  .no-catalog-filters .catalog-center-width {
    /* width: 909px; */
    width: 100%;
    padding: 0 24px;
  }
}
@media only screen and (min-width: 1213px) {
  .no-catalog-filters .catalog-center-width {
    /* width: 1196px; */
    width: 100%;
  }
}
@media only screen and (min-width: 1500px) {
  .no-catalog-filters .catalog-center-width {
    /* width: 1483px; */
    width: 100%;
  }
}
