@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

* {
  /* text-color: white; */
}
html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}
/* custom styling by greenmusk */
#header {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 84px;
}
#header-right {
  display: flex;
  align-items: center;
}

#header .headerheight {
  /* height: 45px; */
  height: 0px;
}
@media only screen and (min-width: 768px) {
  #header .headerheight {
    /* height: 60px; */
    height: 32px;
  }
}

#heroTitle {
  color: #28b7a8;
}

#heroText {
  color: white;
}
#getStartedBtn {
  display: inline-block;
  padding: 15px 136px;
  color: white;
  background-color: #f57f13;
  border-radius: 0.5rem;
}
.one-col-full {
  display: flex;
  justify-content: center;
  background-image: url("https://ayazemregm.github.io/hazeltreeassets/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.catalog-header {
  height: 90vh;
  width: 100%;
  max-width: 72rem;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.catalog-center-with {
  padding: 0;
}
#catalog-content {
}
#courseTitle {
  max-width: 72rem;
  margin: 0 auto;
  margin-top: 6.25rem;
  margin-bottom: 3rem;
}
#courseTitle p {
  font-size: 1.125rem;
}

#catalog-courses {
  max-width: 72rem;
  margin: 0 auto;
}
#swiper0 {
  max-width: 72rem;
  margin: 0 auto;
  margin-top: 6.25rem;
  margin-bottom: 3rem;
}
#availableCourses {
  font-size: 2.25rem;
}

/* #skilljar-content{} */
.tabs-wrapper {
  background-color: black;
}
.tabs-text-wrapper {
  background-color: black;
}
.tabs-center {
  max-width: 72rem;
  margin: 0 auto;
  margin-top: 6.25rem;
  margin-bottom: 3rem;
}
.tabs-top {
  background-color: #100f0d;
}
.tabs {
  display: flex;
  flex-direction: column;
}

.tabs-nav {
  display: flex;
  justify-content: space-between;
  max-width: 72rem;
  margin: 0 auto;
}
.tab-nav-item {
  margin-bottom: 0px;
  background-color: #100f0d;
  color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  paddding: 0 5vw;
}
.tab-contentBG {
  background-color: white;
}
#tabs-content {
  max-width: 72rem;
  margin: 0 auto;
}
a.coursebox-container {
  border: 0px;
}

a.coursebox-container.course .coursebox-image img {
  max-height: auto;
  object-fit: cover;
  aspect-ratio: 0.7;
}
/* 
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
} */
.tabs-text-content {
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.top-row {
}

.catalog-center-width {
  margin-left: auto;
  margin-right: auto;
  padding: 0 0px;
  width: 100%;
}
.catalog-center-width .catalog-header {
  padding-left: 0px;
}

footer {
  background-color: #100f0d;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer-wrapper {
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.card-image img {
  width: 240px;
  height: 240px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* resets */
#skilljar-content:after {
  height: 0;
}

@media only screen and (min-width: 801px) {
  .no-catalog-filters .catalog-center-width {
    /* width: 784px; */
    width: 100%;
  }
}
@media only screen and (min-width: 926px) {
  .no-catalog-filters .catalog-center-width {
    /* width: 909px; */
    width: 100%;
    padding: 0 24px;
  }
}
@media only screen and (min-width: 1213px) {
  .no-catalog-filters .catalog-center-width {
    /* width: 1196px; */
    width: 100%;
  }
}
@media only screen and (min-width: 1500px) {
  .no-catalog-filters .catalog-center-width {
    /* width: 1483px; */
    width: 100%;
  }
}

@media only screen and (min-width: 545px) {
  .catalog-center-width {
    width: 100%;
  }
}
@media only screen and (min-width: 607px) {
  .catalog-center-width {
    width: 100%;
  }
}
@media only screen and (max-width: 544px) {
  .catalog-center-width.one-col-full {
    width: 100%;
    padding: 0px 0px;
  }
}
@media only screen and (min-width: 801px) {
  .no-catalog-filters .catalog-center-width {
    width: 100%;
  }
}
@media only screen and (min-width: 926px) {
  .no-catalog-filters .catalog-center-width {
    width: 100%;
    padding: 0 0px;
  }
}
@media only screen and (min-width: 1213px) {
  .no-catalog-filters .catalog-center-width {
    width: 100%;
  }
}
@media only screen and (min-width: 1500px) {
  .no-catalog-filters .catalog-center-width {
    width: 100%;
  }
}
@media only screen and (min-width: 875px) {
  .catalog-filters .catalog-center-width {
    width: 100%;
  }
}
@media only screen and (min-width: 957px) {
  .catalog-filters .catalog-center-width {
    width: 100%;
  }
}
@media only screen and (min-width: 1151px) {
  .catalog-filters .catalog-center-width {
    width: 100%;
  }
}
@media only screen and (min-width: 1276px) {
  .catalog-filters .catalog-center-width {
    width: 100%;
    padding: 0 0;
  }
}
@media only screen and (min-width: 1563px) {
  .catalog-filters .catalog-center-width {
    width: 100%;
  }
}
@media only screen and (min-width: 1850px) {
  .catalog-filters .catalog-center-width {
    width: 100%;
  }
}
