#login-content {
  border-top: 0px;
}

#skilljar-content {
  background-image: url("https://ayazemregm.github.io/hazeltreeassets/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

label span {
  color: white;
}
#login-tab-left span,
#login-tab-right span {
  color: orange;
  border-right: 0px;
}
#button-sign-in {
  background-color: orange;
}
#forgot-password span {
  color: white;
}
#login-content {
  border-top: 0px;
}

.row {
  display: flex;
}
.row .row {
  display: flex;
  flex-direction: column;
}
.white-bg {
  background-color: transparent;
}
#tabs {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
}
